#container {
    margin: auto;
    padding: 50px;
    line-height: 1.5;
    }
#map {
    float: left;
    width: 800px;
    height: 800px;
    margin-right: 20px;
    margin-bottom: 20px;
    }
#traffic-list {
    list-style: none;
    }
.incident-details {
    margin-top: 0;
    }