#container {
	/*width: 1200px;*/
	margin: auto;
	padding: 50px;
	line-height: 1.5;
	}
#my-list-container {
	float: left;
	}
#my-list-container ul {
	list-style: none;
	}
#map {
	float: right;
	width: 800px;
	height: 800px;
	border: 1px solid black;
	}
.incident-details {
	margin-top: 0;
	}