html, body, main, #container, #map, #traffic-list {
    height: 100%;
}
#container {
    margin: auto;
    padding: 10px;
}
#map {
    float: left;
    width: 50%;
    border: 1px solid blue;
}
#traffic-header p {
     margin-bottom: 5px;
}
#traffic-list {
    float: right;
    width: 48%;
}
#traffic-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    height: 70%;
}
#reset-btn {
    width: 140px;
    margin-bottom: 10px;
}
#filter {
    margin: 6px 0 6px 0;
}
.incident, #traffic-header p, .incident-details {
    padding-left: 10px;
}
.incident-details {
    margin-top: 5px;
    background-color: #e5faff;
}
.category0 {
    border-left: 3px solid blue;
}
.category1 {
    border-left: 3px solid orange;
}
.category2 {
    border-left: 3px solid green;
}
.category3 {
    border-left: 3px solid purple;
}